<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= render '/measurements/chart' %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @measurement.user_id %>
</p>

<p>
  <strong>Kind of signal:</strong>
  <%= @measurement.type %>
</p>

<p>
  <strong>Sampling period:</strong>
  <%= @measurement.dt %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
